
header {
    margin: 0 auto;
    max-width: 926px;
    padding: 0px 0px 36px;
}

.article h1 {
    color: #383838;
    font-size: 38px;
    font-family: Montserrat,sans-serif;
    line-height: normal;
    margin-bottom: 18px;
}

.date {
    font-size: 11px;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    color: #727272;  
}

img {
    margin-top: 35px;
}

.wrappedParagraph {
    font-size: 11px;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    color: #666;
    line-height: 18px
}

a{
    color: #555768;
}

a:hover{
    color: ;
}

.article p {
    max-width: 754px;
    margin: 0 auto;
    font-family: Libre Baskerville, Georgia , Times,'Times New Roman' ,serif;
    line-height: 1.6;
    color: #383838;
    margin-bottom: 18px;
    font-size: 18px;
}

.wrapperVideo {
    max-width: 754px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.wrapperTweet {
    max-width: 754px;
    margin: 0 auto;
}

.article h2 {
    max-width: 754px;
    margin: 0 auto;
    font-family: Libre Baskerville, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 23px;
    color: #383838;
}

.wrapperVimeo {
    max-width: 754px;
    margin: 0 auto;
    padding-bottom: 15px;
}

blockquote {
    max-width: 700px;
    border-left: 8px solid #e8e8e8;
    padding: 9px 18px 12px;
    margin: 0 auto;
    margin-bottom: 20px;
}

blockquote p {
    font-style: italic;
}





